html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

.intro{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.options{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    /*font-size: 1.3vw;*/
    font-size: 18px;
    display: flex;
    gap: 25px;
    margin-left: auto;
    color: #333237;
    align-items: center;
}

.about-work{
  display: block;
}

.content-div{
  width: 75%;
  margin: auto;
}

.contact-box{
  background-color: #212121;
  border-radius: 10px;
  padding: 5px 10px;
  margin: auto;
  text-decoration: none;
}
  
.statmentMain{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /*font-size: 33px;*/
    font-size: 2.3vw;
    max-width: 90%;
    word-wrap: break-word;
    flex-wrap: wrap;
    margin-bottom: 0px;
    margin-top: 0;
    color: #333237;
}

.statmentSecond{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  /*font-size: 21px;*/
  font-size: 1.7vw;
  max-width: 90%;
  word-wrap: break-word;
  flex-wrap: wrap;
  color: rgb(102,102,102);
  margin-bottom: 0px;
}

.work-heading{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #333237;
  text-align: center;
  font-weight: 1000;

}

.port{
  display: grid;
  gap: 6rem;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.indvItems{
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.job-company{
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 0;
  font-weight: 600;
  color: #212121;
}

.job-title{
  font-size: 21px;
  margin-top: 7px;
  font-weight: 300;
  color: #212121;
}


.name{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    max-width: 90%;
    /*font-size: 2vw;*/
    font-size: 27px;
    color: #333237;
}

.picture{
    width: 31vw;
    /*height: 31vw;*/
    object-fit: cover;
    border-radius: 22px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    order: 2;
}

.nav{
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
  position: sticky;
  top: 0;
  background: white;
  border-bottom: 1px solid rgb(219 221 228);
  font-family: 'Poppins', sans-serif;
  align-items: center;
  padding: 0px 40px 0px 40px;
}
  .connect_button {
    text-decoration: none;
    background-color: #436f9e;
    border-radius: 10px;
    color: #ffffff;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    /*font-size: 24px;*/
    font-size: 1.5vw;
  }

  .connect_button:hover {
    background-color: #4d7eb3;
  }

  .connect_button i {
    font-size: 1.5em;
    line-height: 1.8em;

  }

.nav-blue {
    color: rgb(51,51,51);
  }

.navs {
    transition: color 0.5s;
  }

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(0);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.resume{
  width: 100%;
  margin-bottom: 60px;
}

.contact{
  background-color: #212121;
  color: #F8F7FC;
  font-family: 'Poppins', sans-serif;
  /*font-size: 1.4vw;*/
  font-size: 21px;
  width: 100%;
  padding: 25px 0px;
}

.info{
  width: 75%;
  margin: auto;
}

.get-in-contact{
  font-weight: 500;
  margin-top: 0;
  margin: 0;
}

.contact-text{
  font-weight: 300;
  margin: 7px 0px 7px 0px;
  width: 30%;
}

.email-text{
  font-weight: 500;
  margin: 0;
}

.companyIMG{
  width: 100%;
  border-radius: 13px;
}

@media (max-width: 800px) {
  .intro {
    flex-direction: column;
  }
  .picture{
    order: 0;
    width: 100%;
    height: 51vw;
    object-position: top;
    /* make the image move down inside the object fit so it's not just my teeth showing */
  }
  .statmentMain{
    /*font-size: 3.3vw;*/
    font-size: 22px;
    max-width: 100%;
    margin-top: 15px;
  }
  .statmentSecond{
    /*font-size: 2.5vw;*/
    font-size: 18px;
    max-width: 100%;
  }
  .connect_button{
    /*font-size: 2.5vw;*/
    font-size: 18px;
    margin: auto;
    margin-top: 30px;
  }

  .port{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .indvItems{
    width: 90%;
    margin: auto;
  }
  .work-heading{
    margin-bottom: 10px;
  }
  .job-company{
    margin-top: 10px;
    /* should be more bold too*/
  }
  .contact-text{
    width: 100%;
  }
  .contact{
    font-size: 13px;
  }
  .name{
    /*font-size: 3vw;*/
    font-size: 22px;
  }
  .options{
    /*font-size: 2.4vw;*/
    font-size: 18px;
  }
  .about-work{
    display: none;
  }


}