.back-nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 1px solid rgb(219 221 228);
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 0px 40px 0px 40px;
  }

.nav-name{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    max-width: 90%;
    font-size: 2vw;
    color: #333237;
    margin-left: auto;
}

.back-button{
    font-size: 2.5vw;
    color: black;
}

.main{
    width: 75%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
}

.header{
    font-size: 1.7vw;
    font-weight: 500;
    margin-bottom: 0;
    color: #4472C4;
}

.header-image{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.li-bold{
    color: #4472C4;
    font-weight: 500;
}

